#app {
    user-select: none;
}

#barContainer {
    height: 100px;
    display: flex;
    position: relative;
}
/* 
.play - .bath - .eat tilhører <img> til status barer. 
Se linje 16, 18 og 20 i main.js.
*/ 
.play{
    position: absolute;
    margin-top: 92px;
    margin-left: 65px;
    height: 60px;
    width: 60px;

}
.bath{
    position: absolute;
    margin-top: 99px;
    height: 40px;
    width: 40px;
    margin-left: 34px;

}
.eat{
    position: absolute;
    margin-top: 110px;
    left: -7px;
    height: 30px;
    width: 30px;

}

.bar {
    height: 100%;
    width: 20px;
    background-color: beige;
    border: solid 3px purple;
    position: absolute;
    bottom: -5px;
}

#hungerBar {
    left: 0px;
    background-color: brown;
}

#cleanlinessBar {
    left: 40px;
    background-color: rgb(52, 228, 199);
}

#playfulnessBar {
    left: 80px;
    background-color: goldenrod;
}

.bat {}

#batten {
    display: flex;
    position: relative;
    align-self: center;
    justify-content: center;
}
#batBod {
    position: absolute;
}
#batFaceNeut {
    position: absolute;
}
#batFaceJoy {
    position: absolute;
    
}
#batDead {
    position: absolute;
}

.noBatForYou {
    opacity: 0%;
}

/* Vis og diskuter */
.grassPatch {
    position: absolute;
    margin-top: 475px;
    margin-right: 20px;
}


button {
    margin-left: 5px;
    height: 30px;
}
.feeder{
    margin-top: 70vh;
    margin-left: 44.5%;
    position: relative;
}
.cleaner{
    position: relative;
}
.player{
    position: relative;
}