#app {
    user-select: none;
}

#barContainer {
    height: 100px;
    display: flex;
    position: relative;
}

.bar {
    height: 100%;
    width: 20px;
    background-color: beige;
    border: solid 3px purple;
    position: absolute;
    bottom: -5px;
}

#hungerBar {
    left: 0px;
    background-color: brown;
}

#cleanlinessBar {
    left: 40px;
    background-color: rgb(52, 228, 199);
}

#playfulnessBar {
    left: 80px;
    background-color: goldenrod;
}

.bat {}

#batten {
    display: flex;
    position: relative;
    align-self: center;
    justify-content: center;
}
#batBod {
    position: absolute;
}
#batFaceNeut {
    position: absolute;
}
#batFaceJoy {
    position: absolute;
}
#batDead {
    position: absolute;
}

.noBatForYou {
    opacity: 0%;
}

button {
    margin-left: 5px;
    height: 30px;
}
.feeder{
    margin-top: 70vh;
    margin-left: 44.5%;
    position: relative;
}
.cleaner{
    position: relative;
}
.player{
    position: relative;
}